.bg-gradient-light {
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f9fbfd),to(#fff));
	background-image: linear-gradient(to bottom,#f9fbfd 0,#fff 100%);
}

.bg-gray-200 {
	background-color: #f1f4f8
}

.bg-red {
	background-color: #F44336 !important;
	color: #fff;
}

.bg-red .content .text,
.bg-red .content .number {
	color: #fff !important;
}

.bg-pink {
	background-color: #E91E63 !important;
	color: #fff;
}

.bg-pink .content .text,
.bg-pink .content .number {
	color: #fff !important;
}

.bg-purple {
	background-color: #9C27B0 !important;
	color: #fff;
}

.bg-purple .content .text,
.bg-purple .content .number {
	color: #fff !important;
}

.bg-deep-purple {
	background-color: #673AB7 !important;
	color: #fff;
}

.bg-deep-purple .content .text,
.bg-deep-purple .content .number {
	color: #fff !important;
}

.bg-indigo {
	background-color: #3F51B5 !important;
	color: #fff;
}

.bg-indigo .content .text,
.bg-indigo .content .number {
	color: #fff !important;
}

.bg-blue {
	background-color: #2196F3 !important;
	color: #fff;
}

.bg-blue .content .text,
.bg-blue .content .number {
	color: #fff !important;
}

.bg-light-blue {
	background-color: #03A9F4 !important;
	color: #fff;
}

.bg-light-blue .content .text,
.bg-light-blue .content .number {
	color: #fff !important;
}

.bg-cyan {
	background-color: #00BCD4 !important;
	color: #fff;
}

.bg-cyan .content .text,
.bg-cyan .content .number {
	color: #fff !important;
}

.bg-teal {
	background-color: #009688 !important;
	color: #fff;
}

.bg-teal .content .text,
.bg-teal .content .number {
	color: #fff !important;
}

.bg-green {
	background-color: #4CAF50 !important;
	color: #fff;
}

.bg-green .content .text,
.bg-green .content .number {
	color: #fff !important;
}

.bg-light-green {
	background-color: #8BC34A !important;
	color: #fff;
}

.bg-light-green .content .text,
.bg-light-green .content .number {
	color: #fff !important;
}

.bg-lime {
	background-color: #CDDC39 !important;
	color: #fff;
}

.bg-lime .content .text,
.bg-lime .content .number {
	color: #fff !important;
}

.bg-yellow {
	background-color: #ffe821 !important;
	color: #fff;
}

.bg-yellow .content .text,
.bg-yellow .content .number {
	color: #fff !important;
}

.bg-amber {
	background-color: #FFC107 !important;
	color: #fff;
}

.bg-amber .content .text,
.bg-amber .content .number {
	color: #fff !important;
}

.bg-orange {
	background-color: #FF9800 !important;
	color: #fff;
}

.bg-orange .content .text,
.bg-orange .content .number {
	color: #fff !important;
}

.bg-deep-orange {
	background-color: #FF5722 !important;
	color: #fff;
}

.bg-deep-orange .content .text,
.bg-deep-orange .content .number {
	color: #fff !important;
}

.bg-brown {
	background-color: #795548 !important;
	color: #fff;
}

.bg-brown .content .text,
.bg-brown .content .number {
	color: #fff !important;
}

.bg-gray {
	background-color: #9E9E9E !important;
	color: #fff;
}

.bg-gray .content .text,
.bg-gray .content .number {
	color: #fff !important;
}

.bg-blue-gray {
	background-color: #607D8B !important;
	color: #fff;
}

.bg-blue-gray .content .text,
.bg-blue-gray .content .number {
	color: #fff !important;
}

.bg-black {
	background-color: #000000 !important;
	color: #fff;
}

.bg-black .content .text,
.bg-black .content .number {
	color: #fff !important;
}

.bg-white {
	background-color: #ffffff !important;
	color: #fff;
}

.bg-white .content .text,
.bg-white .content .number {
	color: #fff !important;
}