.col-red {
	color: #F44336 !important;
}

.col-pink {
	color: #E91E63 !important;
}

.col-purple {
	color: #9C27B0 !important;
}

.col-deep-purple {
	color: #673AB7 !important;
}

.col-indigo {
	color: #3F51B5 !important;
}

.col-blue {
	color: #2196F3 !important;
}

.col-light-blue {
	color: #03A9F4 !important;
}

.col-cyan {
	color: #00BCD4 !important;
}

.col-teal {
	color: #009688 !important;
}

.col-green {
	color: #4CAF50 !important;
}

.col-light-green {
	color: #8BC34A !important;
}

.col-lime {
	color: #CDDC39 !important;
}

.col-yellow {
	color: #ffe821 !important;
}

.col-amber {
	color: #FFC107 !important;
}

.col-orange {
	color: #FF9800 !important;
}

.col-deep-orange {
	color: #FF5722 !important;
}

.col-brown {
	color: #795548 !important;
}

.col-gray {
	color: #9E9E9E !important;
}

.col-blue-gray {
	color: #607D8B !important;
}

.col-black {
	color: #000000 !important;
}

.col-white {
	color: #ffffff !important;
}