/* Block Header */

.block-header {
	margin-bottom: 15px;
}

.block-header h2 {
	margin: 0 !important;
	color: #666 !important;
	font-weight: normal;
	font-size: 16px;
}

.block-header h2 small {
	display: block;
	font-size: 12px;
	margin-top: 8px;
	color: #888;
}

.block-header h2 small a {
	font-weight: bold;
	color: #777;
}

/* Infobox  */

.info-box {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	height: 80px;
	display: flex;
	cursor: default;
	background-color: #fff;
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
}

.info-box .icon {
	display: inline-block;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.12);
	width: 80px;
}

.info-box .icon i {
	color: #fff;
	font-size: 50px;
	line-height: 80px;
}

.info-box .icon .chart.chart-bar {
	height: 100%;
	line-height: 100px;
}

.info-box .icon .chart.chart-bar canvas {
	vertical-align: baseline !important;
}

.info-box .icon .chart.chart-pie {
	height: 100%;
	line-height: 123px;
}

.info-box .icon .chart.chart-pie canvas {
	vertical-align: baseline !important;
}

.info-box .icon .chart.chart-line {
	height: 100%;
	line-height: 115px;
}

.info-box .icon .chart.chart-line canvas {
	vertical-align: baseline !important;
}

.info-box .content {
	display: inline-block;
	padding: 7px 10px;
}

.info-box .content .text {
	font-size: 13px;
	margin-top: 11px;
	color: #555;
}

.info-box .content .number {
	font-weight: normal;
	font-size: 26px;
	margin-top: -4px;
	color: #555;
}

.info-box.hover-zoom-effect .icon {
	overflow: hidden;
}

.info-box.hover-zoom-effect .icon i {
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.info-box.hover-zoom-effect:hover .icon i {
	opacity: 0.4;
	-moz-transform: rotate(-32deg) scale(1.4);
	-ms-transform: rotate(-32deg) scale(1.4);
	-o-transform: rotate(-32deg) scale(1.4);
	-webkit-transform: rotate(-32deg) scale(1.4);
	transform: rotate(-32deg) scale(1.4);
}

.info-box.hover-expand-effect:after {
	background-color: rgba(0, 0, 0, 0.05);
	content: ".";
	position: absolute;
	left: 80px;
	top: 0;
	width: 0;
	height: 100%;
	color: transparent;
	-moz-transition: all 0.95s;
	-o-transition: all 0.95s;
	-webkit-transition: all 0.95s;
	transition: all 0.95s;
}

.info-box.hover-expand-effect:hover:after {
	width: 100%;
}

.snackbar {
	display: flex;
	align-items: center;
	padding: 1.2em 1em;
	color: white;
	background: #000;
	width: 100vw;
	height: 45px;
	position: fixed;
	bottom: -61px;
	z-index: 999;
	animation: snack 2s ease-in-out;
}

.snackbar.success {
	background: #52a552;
}

.snackbar.error {
	background: red;
}

@keyframes snack {
	0% {
	}
	20% {
		bottom: -1em;
	}
	80% {
		bottom: -1em;
	}
	100% {
	}
}

.fab {
   width: 70px;
   height: 70px;
   background-color: red;
   border-radius: 50%;
   box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
   transition: all 0.1s ease-in-out;
 
   font-size: 35px;
   color: white;
   text-align: center;
   line-height: 70px;
 
   position: fixed;
   right: 50px;
   bottom: 50px;
   user-select: none;
}
 
.fab:hover {
	text-decoration: none;
	color: #FFF;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4);
}